 
 p{
     font-weight: 300;
     font-style: italic;
     color: rgb(255, 0, 0);
     font-size: 20px;
     text-align: justify;
     letter-spacing: 1cm;
     text-indent: 10%;
     text-shadow: #000 1px 0 10px;

 }